<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>

  <body>
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <div class="col-md-6 col-lg-4">
        <form method="POST" action="/log-in">
          <h2 id="login-title whi">Log in to Your Account</h2>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              id="email"
              name="username"
              type="text"
              class="form-control"
              placeholder="Email or Phone"
              required
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input
              id="password"
              name="password"
              type="password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Log in
          </button>
          <p>Need an account? <a href="Signup">Sign up</a></p>
        </form>

        <script>
          const urlParams = new URLSearchParams(window.location.search);
          const error = urlParams.get("error");
          const errorMessage = document.createElement("p");
          errorMessage.classList.add("text-danger");
    
          document.querySelector("form").appendChild(errorMessage);
          switch(error) {
            case 'it is not an email':
              errorMessage.textContent = "type an email please";  
              document.querySelector("form").appendChild(errorMessage);
              break;
            case 'Incorrect email or password':
              errorMessage.textContent = "Incorrect email or password";  
              document.querySelector("form").appendChild(errorMessage);
              break;
            default:
              // code block
          }
          
        </script>
      </div>
    </div>
  </body>
</html>
