<!DOCTYPE html>
<html>
  <head>
    <title>Restore</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <!-- Disability tool -->
    <script src="https://code.jquery.com/jquery-1.12.4.js" defer></script>
    <script src="/scripts/accessTool.js" defer></script>
  </head>

  <body>
    <div
      class="container d-flex justify-content-center align-items-center vh-100">
      <div class="col-md-6 col-lg-4">
        <form method="POST" action="/restore">
          <h2 id="login-title whi">Recover Password</h2>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              id="email"
              name="username"
              type="text"
              class="form-control"
              placeholder="Email"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Recover Password
          </button>
          <p>Need an account? <a href="Signup">Sign up</a></p>
        </form>

        <script>
          const urlParams = new URLSearchParams(window.location.search);
          const result = urlParams.get("result");
          const resultMessage = document.createElement("p");
          resultMessage.classList.add("text-danger");
    
          document.querySelector("form").appendChild(resultMessage);
          switch(result) {
            case 'false':
              resultMessage.textContent = "Email not found";  
              break;
            case 'true':
              const email = urlParams.get("email")
              resultMessage.textContent = `Password sent to ${email}`;  
              break;
            default:
                document.querySelector("form").appendChild(resultMessage);

          }
          
        </script>
      </div>
    </div>
  </body>
</html>
