<!DOCTYPE html>
<html>

<head>
  <title>הלוואה רגילה</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href='https://fonts.googleapis.com/css?family=Noto Sans Hebrew' rel='stylesheet'>
  <link rel="stylesheet" href="/styles/style.css" />
  <!-- Disability tool -->

  <link rel="icon" type="image/png" href="images/icon.png">
  <style>
    td {
    padding: 20px; /* Adjust this value to set the desired padding between columns */
  }
  </style>
</head>

<body>
  <%- include('sidebar') %>
  <div class="main">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-8 col-lg-6">
        <% if (typeof success !== 'undefined' && success == true) { %>
          <table>
            <tr>
              <td>יש ליצור קשר עם הבנק {שם הבית להכניס לכאן}</td>
              <td>נא לספק ת.ז, פרטי חשבון בנק, פרטים נוספים לפי הצורך</td>
              <td>יש לשלוח 3 משכורות אחרונות</td>
              <td>הכסף מתקבל בחשבון</td>
            </tr>
            <tr>
              <td colspan="4"><img src="/images/arrow.png" style="width: 100%;" alt="Image"></td>
            </tr>
            <tr>
              <td  colspan="4">מחפש נותן שירות או צריך עזרה בתהליך? <a href="/contact">פנה אלינו</a></td>
            </tr>
            <tr>
              <td  colspan="4"><p><b>עלויות משוערות:</b></p><p>פתיחת תיק : 1000 ש"ח</p><p>עמלת ביצוע פעולה : 0.1%</p></td>
            </tr>
          </table>
          <% } %>
          <% if (typeof success !== 'undefined' && success === "nl") { %> 
            <h1>מצטערים, חייב להתחבר כדי לקבל תוצאה</h1>
          <% } %>
          <% if (typeof error !== 'undefined' && error) { %> 
            <h1>שגיאה בקליטת הנתונים!</h1>
          <% } %>
      <% if (typeof success !== 'undefined' && success === "no result") { %> 
        <form method="POST" action="takemortgage" onsubmit="/*return mortgageForm*/">
          <div class="titleCard text-center align-items-center">
          <h2 id="mortgage-title">הגשת בקשה להלוואה אחת</h2>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fas fa-file-signature"></i></span>
                    </div>
                    <select name="rtmethod" id="rtmethod"
                        class="custom-select" required>
                        <option value="" disabled selected> שיטת החזר מועדפת</option>
                        <option value="Option1">ריבית פריים</option>
                        <option value="Option2">ריבית קבועה צמודה למדד</option>
                        <option value="Option3">ריבית קבועה לא צמודה</option>
                    </select>
                    <label class="form-check-label" for="fixedInterest">
                      ריבית פריים / ריבית קבועה צמודה למדד / ריבית קבועה לא צמודה
                    </label>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fas fa-university"></i></span>
                    </div>
                    <select name="bank" id="bank"
                        class="custom-select" required>
                        <option value="" disabled selected>לחץ לבחירת הבנק שלך</option>
                        <option value="Option1">בנק דיסקונט לישראל
                            בע"מ</option>
                        <option value="Option2">בנק הפועלים בע"מ
                        </option>
                        <option value="Option3">בנק "יהב" לעובדי
                            מדינה בע"מ</option>
                        <option value="Option4">בנק ירושלים בע"מ
                        </option>
                        <option value="Option5">בנק לאומי לישראל
                            בע"מ</option>
                        <option value="Option6">וואן זירו הבנק
                            הדיגיטלי בע"מ</option>
                        <option value="Option7">בנק מזרחי טפחות בע"מ
                        </option>
                        <option value="Option8">בנק מסד בע"מ
                        </option>
                        <option value="Option9">בנק מרכנתיל דיסקונט
                            בע"מ</option>
                        <option value="Option10">הבנק הבינלאומי
                            הראשון לישראל בע"מ</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">₪</span>
                    </div>
                    <input name="loanAmount" id="loanAmount"
                        type="number" min="0" max="100"
                        class="form-control"
                        placeholder="הכנס סכום ההלוואה המבוקש*"
                        required>
                </div>
                <label class="form-check-label" for="fixedLoan">
                  *באלפים, עד 100 אלף
                </label>
            </div>
            <div class="col-md-6 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fas fa-flag"></i></span>
                    </div>
                    <select name="citizenship" id="citizenship"
                        class="custom-select" required>
                        <option value="" disabled selected>אזרחות נוכחית</option>
                        <option value="Option1">ישראלית</option>
                        <option value="Option2">אמריקאית</option>
                        <option value="Option3">אירופאית</option>
                    </select>
                  </div>
                    <label class="form-check-label" for="fixedCitizenship">
                      ישראלית \ אמריקאית \ אירופאית          
                    </label>
            </div>
        </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="offerEstimate" id="offerEstimateYes" value="yes" required>
            <label class="form-check-label" for="offerEstimateYes">
              כן, אני מבין שההצעה היא רק להערכה
            </label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="termsAgreement" id="termsAgreementYes" value="yes" required>
            <label class="form-check-label" for="termsAgreementYes">
              כן, קראתי והסכמתי לתנאי השירות
            </label>
          </div>
          <a href="/pdf/terms.pdf" target="_blank">תנאי השירות</a>
          <button type="submit" class="btn btn-custom btn-block">חשב</button>
        </form>
        <% } %>
      </div>
    </div>
  </div>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    // You can add any custom JavaScript logic here if needed
  </script>
</body>

</html>
