<!DOCTYPE html>
<html>

<head>
  <title>הלוואה לרכישת נדל"ן</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href='https://fonts.googleapis.com/css?family=Noto Sans Hebrew' rel='stylesheet'>
  <link rel="stylesheet" href="/styles/style.css" />
  <!-- Disability tool -->
 
  <link rel="icon" type="image/png" href="images/icon.png">
</head>

<body>
  <%- include('sidebar') %>
  <div class="main">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6 col-lg-4">
      <h1 style="color:green">אני רוצה לקחת כמה הלוואות</h1>
      <hr>
      <h5 style="color:red">אין לך אפשרות לקחת כמה הלוואות עבור סכום הקטן מ100 אלף ש"ח</h5>
          <table>
            <tr>
              <td >הגשת בקשה פרטנית בבנק</td>
              <td colspan="4"><img src="/images/arrow.png" style="width: 100%;" alt="Image"></td>
              <td>הבנק בודק את הבקשה</td>
              <td colspan="4"><img src="/images/arrow.png" style="width: 100%;" alt="Image"></td>
              <td>החלטה של הבנק האם לאשר הלוואה פרטנית</td>
              <td></td>
            </tr>
            <tr>
              <td  colspan="4"><br><br>מחפש נותן שירות או צריך עזרה בתהליך? <a href="/contact">פנה אלינו</a></td>
            </tr>
            <tr>
              <td  colspan="4"><p><br><b>עלויות משוערות:<br></b>פתיחת תיק בקשה פרטנית: 500 ש"ח</td>
            </tr>
          </table>
    </div>
  </div>
  </div>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    // You can add any custom JavaScript logic here if needed
  </script>
</body>

</html>
