@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    /* Set the background image */
    background-image: url(/images/professional-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Full height */
    height: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    font-family: 'Noto Sans Hebrew';
    /* Choose appropriate font */
    margin-top: 0;
    padding: 0;
    overflow-y: hidden;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 0.2em;
    display: block;
}

.success {
    color: green;
    font-size: 0.8em;
    margin-top: 0.2em;
    display: block;

}

#mainContent {

    margin-top: 100px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    width: 60%;
}

#carouselExampleAutoplaying {
    width: 45%;

    margin: auto;
}


/* Media Query for 500px width and below */
@media (max-width: 500px) {

    /* Adjust carousel width and center it */
    #carouselExampleAutoplaying {
        width: 95%;
        /* margin: auto; */
    }

    /* Adjust mainContent font size */
    #mainContent {
        font-size: 0.5rem;
    }
}

@media (max-width: 600px) {
    #mainContent {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {

    /* Limit carousel width */
    #carouselExampleAutoplaying {
        width: 50%;
        margin: auto;
    }

    #mainContent {
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {

    /* Limit carousel width */
    #carouselExampleAutoplaying {
        width: 50%;
        margin: auto;
    }

    #mainContent {
        font-size: 0.9rem;
    }
}